body h1.ui.header {
  font-family: "Comfortaa", sans-serif;
}

body h2.ui.header {
  font-family: "Comfortaa", sans-serif;
}

body h3.ui.header {
  font-family: "Comfortaa", sans-serif;
}

body h4.ui.header {
  font-family: "Comfortaa", sans-serif;
}

body h5.ui.header {
  font-family: "Comfortaa", sans-serif;
}

body h6.ui.header {
  font-family: "Comfortaa", sans-serif;
}

body p {
  font-family: "Comfortaa", sans-serif;
}

body a {
  font-family: "Comfortaa", sans-serif;
}

body .ui.menu {
  font-family: "Comfortaa", sans-serif;
}

body .ui.button {
  font-family: "Comfortaa", sans-serif;
}

body .ui.input {
  font-family: "Comfortaa", sans-serif;
}

body .ui.label {
  font-family: "Comfortaa", sans-serif;
}

body .ui.segment {
  font-family: "Comfortaa", sans-serif;
}

body .ui.card {
  font-family: "Comfortaa", sans-serif;
  .content {
    font-family: "Comfortaa", sans-serif;
  }
}

body .ui.card > .content > .header {
  font-family: "Comfortaa", sans-serif;
}

body .ui.message {
  font-family: "Comfortaa", sans-serif;
}

body .ui.container {
  font-family: "Comfortaa", sans-serif;
}

body .ui.grid {
  font-family: "Comfortaa", sans-serif;
}

body .ui.form {
  font-family: "Comfortaa", sans-serif;
}

body .ui.accordion {
  font-family: "Comfortaa", sans-serif;
}

body .ui.dropdown {
  font-family: "Comfortaa", sans-serif;
}

body .ui.modal {
  font-family: "Comfortaa", sans-serif;
}

body .ui.checkbox {
  font-family: "Comfortaa", sans-serif;
}

body .ui.radio.checkbox {
  font-family: "Comfortaa", sans-serif;
}

body .ui.slider {
  font-family: "Comfortaa", sans-serif;
}

body .ui.progress {
  font-family: "Comfortaa", sans-serif;
}

body .ui.loader {
  font-family: "Comfortaa", sans-serif;
}

body .ui.dimmer {
  font-family: "Comfortaa", sans-serif;
}

body .ui.sidebar {
  font-family: "Comfortaa", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
